<div class="container-fluid">
  <div class="row">
    <div id="map" class="col-sm-9"> </div>
    <div class="col-sm-3">
      <form ngNativeValidate class="margin-input" (ngSubmit)="onSubmit(userInputForm)" #userInputForm="ngForm">
        <div class="form-group">
          <h5>Enter source:</h5>
          <select class="form-control" id="source" placeholder="Enter source" #source [(ngModel)]="userInput.source" name="source" (ngModelChange)="modelChanged($event)" required>
            <option value="" selected disabled>Enter source</option>
            <option *ngFor="let source of sources"> {{source}}</option>
          </select>
        </div>
        <div class="form-group">
          <h5>Enter destination:</h5>
          <select class="form-control" id="destination" placeholder="Enter destination" #destination [(ngModel)]="userInput.destination" name="destination" required>
            <option value="" selected disabled>Enter destination</option>
            <option *ngFor="let destination of destinations"> {{destination}} </option>
          </select>
        </div>
        <div class="form-group">
          <h5>Enter day:</h5>
          <select class="form-control" id="day" placeholder="Enter day" #dayOfWeek [(ngModel)]="userInput.dayOfWeek" name="day" required>
            <option value="" selected disabled>Enter day</option>
            <option>Monday</option>
            <option>Tuesday</option>
            <option>Wednesday</option>
            <option>Thursday</option>
            <option>Friday</option>
            <option>Saturday</option>
            <option>Sunday</option>
          </select>
        </div>
        <div class="form-group">
          <h5>Enter time:</h5>
          <select class="form-control" id="time" placeholder="Enter time(hh:mm:ss)" #timeOfDay [(ngModel)]="userInput.timeOfDay" name="time" required>
            <option value="" selected disabled>Enter time(hh:mm:ss)</option>
            <option>00:00:00</option>
            <option>01:00:00</option>
            <option>02:00:00</option>
            <option>03:00:00</option>
            <option>04:00:00</option>
            <option>05:00:00</option>
            <option>06:00:00</option>
            <option>07:00:00</option>
            <option>08:00:00</option>
            <option>09:00:00</option>
            <option>10:00:00</option>
            <option>11:00:00</option>
            <option>12:00:00</option>
            <option>13:00:00</option>
            <option>14:00:00</option>
            <option>15:00:00</option>
            <option>16:00:00</option>
            <option>17:00:00</option>
            <option>18:00:00</option>
            <option>19:00:00</option>
            <option>20:00:00</option>
            <option>21:00:00</option>
            <option>22:00:00</option>
            <option>23:00:00</option>
          </select>
        </div>
        <button (click)="setFav(source.value, destination.value, dayOfWeek.value, timeOfDay.value)"
          type="button" class="btn btn-warning btn-fill">
          <span class="glyphicon glyphicon-heart"></span>Add Favorite
        </button>
        <button type="submit" class="btn btn-info btn-fill">Get Results</button>
        <div *ngIf="showProgress" style="margin:25%">
          <circle-progress
            [percent]="95"
            [radius]="50"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="green"
            [innerStrokeColor]="blue"
            [animation]="true"
            [animationDuration]="900"
          ></circle-progress>
        </div>
      </form>
      <h5>
        <table class="table" *ngIf="showCongestionRateTable">
            <thead>
              <tr>
                <th>StreetName</th>
                <th>CongestionRate</th>
              </tr>
            </thead>
            <tbody>
              <tr class="info" *ngFor="let prediction of predictionResult">
                <td>{{ prediction.StreetName }}</td>
                <td>{{prediction.CongestionRate}}</td>
              </tr>
            </tbody>
          </table>
      </h5> </div>
  </div>
</div>
