<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title"> Current Congestion Rate of Route</h4> <br/>
          </div>
          <div class="col-md-12 well" style="border: 19px solid #e3e3e3;">
            <div class="header">
              <h4 class="title">For selected Time</h4>
              <form ngNativeValidate class="" (ngSubmit)="congestionDetailsFormMethod()" #routeTavelTimeForm="ngForm">
                <div class="form-group col-xs-3" style="padding-left: 0px;">
                  <select type="text" class="form-control" id="source" placeholder="Source" #source
                          [(ngModel)]="userInputData.source" name="source" (ngModelChange)="modelChanged($event)"
                          required>
                    <option value="" selected disabled>Enter source</option>
                    <option *ngFor="let source of sources"> {{source}}</option>
                  </select>
                </div>
                <div class="form-group col-xs-3" style="padding-left: 0px;">
                  <select type="text" class="form-control" id="destination" placeholder="Destination" #destination
                          [(ngModel)]="userInputData.destination" name="destination" required>
                    <option value="" selected disabled>Enter destination</option>
                    <option *ngFor="let destination of destinations"> {{destination}}</option>
                  </select>
                </div>
                <div class="form-group col-xs-2" style="padding-left: 0px;">
                  <select type="text" class="form-control" id="dayOfWeek" placeholder="Day" #destination
                          [(ngModel)]="userInputData.dayOfWeek" name="dayOfWeek" required>
                    <option value="" selected disabled>Enter day</option>
                    <option>Monday</option>
                    <option>Tuesday</option>
                    <option>Wednesday</option>
                    <option>Thursday</option>
                    <option>Friday</option>
                    <option>Saturday</option>
                    <option>Sunday</option>
                  </select>
                </div>
                <div class="form-group col-xs-2" style="padding-left: 0px;">
                  <select type="text" class="form-control" id="timeOfDay" placeholder="Time" #destination
                          [(ngModel)]="userInputData.timeOfDay" name="timeOfDay" required>
                    <option value="" selected disabled>Enter time</option>
                    <option>00:00:00</option>
                    <option>01:00:00</option>
                    <option>02:00:00</option>
                    <option>03:00:00</option>
                    <option>04:00:00</option>
                    <option>05:00:00</option>
                    <option>06:00:00</option>
                    <option>07:00:00</option>
                    <option>08:00:00</option>
                    <option>09:00:00</option>
                    <option>10:00:00</option>
                    <option>11:00:00</option>
                    <option>12:00:00</option>
                    <option>13:00:00</option>
                    <option>14:00:00</option>
                    <option>15:00:00</option>
                    <option>16:00:00</option>
                    <option>17:00:00</option>
                    <option>18:00:00</option>
                    <option>19:00:00</option>
                    <option>20:00:00</option>
                    <option>21:00:00</option>
                    <option>22:00:00</option>
                    <option>23:00:00</option>
                  </select>
                </div>
                <div class="form-group col-xs-2">
                  <button type="submit" class="btn btn-info btn-fill">Get Results</button>
                </div>
                <div *ngIf="showProgress" style="margin-left:40%">
                  <circle-progress
                    [percent]="95"
                    [radius]="50"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="green"
                    [innerStrokeColor]="blue"
                    [animation]="true"
                    [animationDuration]="900"
                  ></circle-progress>
                </div>
                <table *ngIf="tableDataFlag" class="table table-hover">
                  <thead>
                  <tr>
                    <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let row of tableData1.dataRows.tableList[0].streetName; index as i">
                    <td>{{i+1}}</td>
                    <td>{{tableData1.dataRows.tableList[0].streetName[i]}}</td>
                    <td>{{tableData1.dataRows.tableList[0].direction[i]}}</td>
                    <td>{{tableData1.dataRows.tableList[0].congestionRate[i]}}</td>
                  </tr>
                  </tbody>
                </table>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12" *ngIf="tableDataFlag">
        <div class="card">
          <div class="col-md-12 well" style="border: 19px solid #e3e3e3;">
            <div class="header">
              <h4 class="title">If you leave in an Hour</h4>
              <table class="table table-hover">
                <thead>
                <tr>
                  <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let row of tableData1.dataRows.tableList[1].streetName; index as j" [ngClass]="{'success': ((tableData1.dataRows.tableList[1].congestionRate[j]).slice(0, -1)) < 45, 'danger': ((tableData1.dataRows.tableList[1].congestionRate[j]).slice(0, -1)) > 70, 'warning': ((tableData1.dataRows.tableList[1].congestionRate[j]).slice(0, -1)) > 45 }">
                  <td>{{j+1}}</td>
                  <td>{{tableData1.dataRows.tableList[1].streetName[j]}}</td>
                  <td>{{tableData1.dataRows.tableList[1].direction[j]}}</td>
                  <td>{{tableData1.dataRows.tableList[1].congestionRate[j]}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
