<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SmartRoute</title>
      <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal">
    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

  </head>
  <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

  			<div class="container">

					<div class="contact-info">
							<h3 class="cnt-ttl"> Plan your trip now!</h3>
							<div class="space"></div>
							<form action="/find_streets" method="post" role="form" class="contactForm">
							    <div class="form-group">
                                    <input type="text" name="from" class="form-control br-radius-zero" id="name" placeholder="From" />
                                 
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control br-radius-zero" name="To" id="to" placeholder="To" />
                                  
                                </div>
                              
								<div class="form-action">
									<button type="submit" class="btn btn-form">Find</button>
				
								</div>
							</form>
					</div>
				</div>





    
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/jquery.easing.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
   <!-- <script src="../static/js/custom.js"></script>-->
    <script src="../static/contactform/contactform.js"></script>
    
  </body>
</html>
