<div class="container-fluid bg-img">
  <div class="container login-page">
    <div class="panel panel-default">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href data-target="#login">Login</a></li>
        <li><a data-toggle="tab" href data-target="#register">Register</a></li>
      </ul>

      <div class="tab-content">
        <div id="login" class="tab-pane fade in active">
          <form class="form-horizontal" method="post" name="signin" (ngSubmit)="login(loginForm)" #loginForm="ngForm">
            <div class="form-group">
              <h5 class="control-label col-xs-offset-1 col-xs-4 col-sm-3 col-md-3 ">Email:</h5>
              <div class="col-md-7 col-lg-7 col-sm-5 col-xs-pull-1 col-md-pull-1 col-xs-6 col-xs-offset-1">
                <input type="email" class="form-control" id="email" [(ngModel)]="user.email" name="email" placeholder="Email">
              </div>
            </div>
            <div class="form-group">
              <h5 class="control-label col-xs-offset-1 col-xs-4 col-sm-3 col-md-3">Password:</h5>
              <div class="col-md-7 col-lg-7 col-sm-5 col-xs-pull-1 col-md-pull-1 col-xs-6 col-xs-offset-1">
                <input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password" placeholder="Password" required>
              </div>
            </div>
            <div class="form-group">
              <h5 class="control-label col-xs-offset-1 col-xs-4 col-sm-3 col-md-3 "></h5>
              <div class="col-md-7 col-lg-7 col-sm-5 col-xs-pull-1 col-md-pull-1 col-xs-6 col-xs-offset-1">
                <button type="submit" class="btn btn-info btn-fill">Login</button>
              </div>
            </div>
          </form>
        </div>
        <div id="register" class="tab-pane fade">
          <form class="form-horizontal" id="register-form-id" method="post" name="register" (ngSubmit)="register(registerForm)" #registerForm="ngForm">
            <div class="form-group">
              <h5 class="control-label col-xs-offset-1 col-xs-4 col-sm-3 col-md-3 ">First Name:</h5>
              <div class="col-md-7 col-lg-7 col-sm-5 col-xs-pull-1 col-md-pull-1 col-xs-6 col-xs-offset-1">
                <input type="text" class="form-control" id="name" placeholder="First Name" id="firstName" [(ngModel)]="user.firstName" name="firstName" required>
              </div>
            </div>
            <div class="form-group">
              <h5 class="control-label col-xs-offset-1 col-xs-4 col-sm-3 col-md-3 ">Last Name:</h5>
              <div class="col-md-7 col-lg-7 col-sm-5 col-xs-pull-1 col-md-pull-1 col-xs-6 col-xs-offset-1">
                <input type="text" class="form-control" id="name" placeholder="Last Name" id="lastName" [(ngModel)]="user.lastName" name="lastName" required>
              </div>
            </div>
            <div class="form-group">
              <h5 class="control-label col-xs-offset-1 col-xs-4 col-sm-3 col-md-3 ">Email:</h5>
              <div class="col-md-7 col-lg-7 col-sm-5 col-xs-pull-1 col-md-pull-1 col-xs-6 col-xs-offset-1">
                <input type="email" class="form-control" placeholder="Email" id="email" [(ngModel)]="user.email" name="email" required>
              </div>
            </div>
            <div class="form-group">
              <h5 class="control-label col-xs-offset-1 col-xs-4 col-sm-3 col-md-3 ">Phone Number:</h5>
              <div class="col-md-7 col-lg-7 col-sm-5 col-xs-pull-1 col-md-pull-1 col-xs-6 col-xs-offset-1">
                <input type="tel" class="form-control" id="phone" [(ngModel)]="user.phone" name="phone"  maxlength="14" placeholder="Phone Number" required>
              </div>
            </div>
            <div class="form-group">
              <h5 class="control-label col-xs-offset-1 col-xs-4 col-sm-3 col-md-3">Password:</h5>
              <div class="col-md-7 col-lg-7 col-sm-5 col-xs-pull-1 col-md-pull-1 col-xs-6 col-xs-offset-1">
                <input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password" placeholder="Password" required>
              </div>
            </div>
            <div class="form-group">
              <h5 class="control-label col-xs-offset-1 col-xs-4 col-sm-3 col-md-3">Confirm Password:</h5>
              <div class="col-md-7 col-lg-7 col-sm-5 col-xs-pull-1 col-md-pull-1 col-xs-6 col-xs-offset-1">
                <input type="password" class="form-control" id="ConfirmPassword" placeholder="Confirm Password" required>
              </div>
            </div>
            <div class="form-group">
              <h5 class="control-label col-xs-offset-1 col-xs-4 col-sm-3 col-md-3 "></h5>
              <div class="col-md-7 col-lg-7 col-sm-5 col-xs-pull-1 col-md-pull-1 col-xs-6 col-xs-offset-1">
                <button type="submit" class="btn btn-info btn-fill">Register</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
