<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="header">
        <h4 class="title">Data Analysis</h4> <br />
        <p class="category"></p>
      </div>
      <div class="card">
        <div class="col-md-6 well" style="border: 19px solid #e3e3e3;">
          <div class="header">
            <h4 class="title">Travel Time</h4>
            <form ngNativeValidate class="" (ngSubmit)="getRouteTavelTime(routeTavelTimeForm)" #routeTavelTimeForm="ngForm">
              <div class="form-group col-xs-3" style="padding-left: 0px;"> <input type="text" class="form-control" id="source" placeholder="Source" #source [(ngModel)]="routeGraphTravelTime.source" name="source" required /> </div>
              <div class="form-group col-xs-4" style="padding-left: 0px;"> <input type="text" class="form-control" id="destination" placeholder="Destination" #destination [(ngModel)]="routeGraphTravelTime.destination" name="destination" required /> </div>
              <div class="form-group col-xs-2" style="padding-left: 0px;"> <input type="text" class="form-control" id="dayOfWeek" placeholder="Day" #destination [(ngModel)]="routeGraphTravelTime.dayOfWeek" name="dayOfWeek" required /> </div>
              <div class="form-group col-xs-2"> <button type="submit" class="btn btn-info btn-fill">Get Results</button> </div>
            </form>
          </div>
          <nvd3 [options]="options" [data]="data"></nvd3>
        </div>
        <div class="col-md-6 well" style="border: 19px solid #e3e3e3;">
          <div class="header">
            <h4 class="title">Congestion Rate</h4>
            <form ngNativeValidate class="" (ngSubmit)="getRouteCongestionRate(routeCongestionTimeForm)" #routeCongestionTimeForm="ngForm">
              <div class="form-group col-xs-3" style="padding-left: 0px;"> <input type="text" class="form-control" id="source" placeholder="Source" #source [(ngModel)]="routeGraphCongestionRate.source" name="source" required /> </div>
              <div class="form-group col-xs-4" style="padding-left: 0px;"> <input type="text" class="form-control" id="destination" placeholder="Destination" #destination [(ngModel)]="routeGraphCongestionRate.destination" name="destination" required /> </div>
              <div class="form-group col-xs-2" style="padding-left: 0px;"> <input type="text" class="form-control" id="dayOfWeek" placeholder="Day" #destination [(ngModel)]="routeGraphCongestionRate.dayOfWeek" name="dayOfWeek" required /> </div>
              <div class="form-group col-xs-2"> <button type="submit" class="btn btn-info btn-fill">Get Results</button> </div>
            </form>
          </div>
          <nvd3 [options]="options2" [data]="data2"></nvd3>
        </div>
      </div>
      <div class="col-md-6 well" style="border: 19px solid #e3e3e3;">
        <div class="header">
          <h4 class="title">Interstate Congestion Rate</h4> <br />
          <p class="category"></p>
        </div>
        <nvd3 [options]="options" [data]="data"></nvd3>
      </div>
      <div class="col-md-6 well" style="border: 19px solid #e3e3e3;">
        <div class="header">
          <h4 class="title">Travel history</h4> <br />
          <p class="category"></p>
        </div>
        <nvd3 [options]="options" [data]="data"></nvd3>
      </div>
    </div>
  </div>
</div>
