<div class="main-content" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <div class="container-fluid">
    <div class="card">
      <div class="header">
        <h4 class="title">Data Analysis</h4> <br />
        <p class="category"></p>
      </div>
      <div class="card">
        <div class="col-md-12 well" style="border: 19px solid #e3e3e3;">
          <div class="header">
            <h4 class="title">Travel Time</h4>
            <form ngNativeValidate class="" (ngSubmit)="getRouteTavelTime(routeTavelTimeForm)" #routeTavelTimeForm="ngForm">
              <div class="form-group col-xs-3" style="padding-left: 0px;">
                <select type="text" class="form-control" id="source" placeholder="Source" #source [(ngModel)]="routeGraphTravelTime.source" name="source" (ngModelChange)="modelChangedRouteTravelTime($event)" required>
                  <option value="" selected disabled>Enter source</option>
                  <option *ngFor="let source of sourcesRouteTravelTime"> {{source}}</option>
                </select>
              </div>
              <div class="form-group col-xs-4" style="padding-left: 0px;">
                <select type="text" class="form-control" id="destination" placeholder="Destination" #destination [(ngModel)]="routeGraphTravelTime.destination" name="destination" required>
                  <option value="" selected disabled>Enter destination</option>
                  <option *ngFor="let destination of destinationsRouteTravelTime"> {{destination}} </option>
                </select>
              </div>
              <div class="form-group col-xs-2" style="padding-left: 0px;">
                <select type="text" class="form-control" id="dayOfWeek" placeholder="Day" #destination [(ngModel)]="routeGraphTravelTime.dayOfWeek" name="dayOfWeek" required>
                  <option value="" selected disabled>Enter day</option>
                  <option>Monday</option>
                  <option>Tuesday</option>
                  <option>Wednesday</option>
                  <option>Thursday</option>
                  <option>Friday</option>
                  <option>Saturday</option>
                  <option>Sunday</option>
                </select>
              </div>
              <div class="form-group col-xs-2"> <button type="submit" class="btn btn-info btn-fill">Get Results</button> </div>
            </form>
          </div>
          <div *ngIf="showProgress1" style="margin-left:40%">
            <circle-progress
              [percent]="95"
              [radius]="50"
              [outerStrokeWidth]="16"
              [innerStrokeWidth]="8"
              [outerStrokeColor]="green"
              [innerStrokeColor]="blue"
              [animation]="true"
              [animationDuration]="900"
            ></circle-progress>
          </div>
          <nvd3 [options]="options" [data]="data"></nvd3>
        </div>
        <div class="col-md-12 well" style="border: 19px solid #e3e3e3;">
          <div class="header">
            <h4 class="title">Congestion Rate</h4>
            <form ngNativeValidate class="" (ngSubmit)="getRouteCongestionRate(routeCongestionTimeForm)" #routeCongestionTimeForm="ngForm">
              <div class="form-group col-xs-3" style="padding-left: 0px;">
                <select type="text" class="form-control" id="source" placeholder="Source" #source [(ngModel)]="routeGraphCongestionRate.source" name="source" (ngModelChange)="modelChangedRouteCongestionRate($event)" required>
                  <option value="" selected disabled>Enter source</option>
                  <option *ngFor="let source of sourcesRouteCongestionRate"> {{source}}</option>
                </select>
              </div>
              <div class="form-group col-xs-4" style="padding-left: 0px;">
                <select type="text" class="form-control" id="destination" placeholder="Destination" #destination [(ngModel)]="routeGraphCongestionRate.destination" name="destination" required>
                  <option value="" selected disabled>Enter destination</option>
                  <option *ngFor="let destination of destinationsRouteCongestionRate"> {{destination}} </option>
                </select>
              </div>
              <div class="form-group col-xs-2" style="padding-left: 0px;">
                <select type="text" class="form-control" id="dayOfWeek" placeholder="Day" #destination [(ngModel)]="routeGraphCongestionRate.dayOfWeek" name="dayOfWeek" required>
                  <option value="" selected disabled>Enter day</option>
                  <option>Monday</option>
                  <option>Tuesday</option>
                  <option>Wednesday</option>
                  <option>Thursday</option>
                  <option>Friday</option>
                  <option>Saturday</option>
                  <option>Sunday</option>
                </select>
              </div>
              <div class="form-group col-xs-2"> <button type="submit" class="btn btn-info btn-fill">Get Results</button> </div>
            </form>
          </div>
          <div *ngIf="showProgress2" style="margin-left:40%">
            <circle-progress
              [percent]="95"
              [radius]="50"
              [outerStrokeWidth]="16"
              [innerStrokeWidth]="8"
              [outerStrokeColor]="green"
              [innerStrokeColor]="blue"
              [animation]="true"
              [animationDuration]="900"
            ></circle-progress>
          </div>
          <nvd3 [options]="options2" [data]="data2"></nvd3>
        </div>
      </div>
      <div class="col-md-12 well" style="border: 19px solid #e3e3e3;">
        <div class="header">
          <h4 class="title">Street Congestion Rate</h4> <br />
          <form ngNativeValidate class="" (ngSubmit)="getStreetCongestionRate(streetCongestionRateForm)" #streetCongestionRateForm="ngForm">
            <div class="form-group col-xs-3" style="padding-left: 0px;">
              <select type="text" class="form-control" id="street" placeholder="Street" #street [(ngModel)]="routeGraphStreetCongestionRate.street" name="street" (ngModelChange)="modelChangedStreetCongestionRate($event)" required>
                <option value="" selected disabled>Enter street</option>
                <option *ngFor="let street of streetsCongestionRate"> {{street}}</option>
              </select>
            </div>
            <div class="form-group col-xs-4" style="padding-left: 0px;">
              <select type="text" class="form-control" id="direction" placeholder="Destination" #destination [(ngModel)]="routeGraphStreetCongestionRate.direction" name="direction" required>
                <option value="" selected disabled>Enter direction</option>
                <option *ngFor="let direction of directionsCongestionRate"> {{direction}} </option>
              </select>
            </div>
            <div class="form-group col-xs-2" style="padding-left: 0px;">
              <select type="text" class="form-control" id="timeOfDay" placeholder="Time" #destination [(ngModel)]="routeGraphStreetCongestionRate.timeOfDay" name="timeOfDay" required>
                <option value="" selected disabled>Enter time(hh:mm:ss)</option>
                <option>00:00:00</option>
                <option>01:00:00</option>
                <option>02:00:00</option>
                <option>03:00:00</option>
                <option>04:00:00</option>
                <option>05:00:00</option>
                <option>06:00:00</option>
                <option>07:00:00</option>
                <option>08:00:00</option>
                <option>09:00:00</option>
                <option>10:00:00</option>
                <option>11:00:00</option>
                <option>12:00:00</option>
                <option>13:00:00</option>
                <option>14:00:00</option>
                <option>15:00:00</option>
                <option>16:00:00</option>
                <option>17:00:00</option>
                <option>18:00:00</option>
                <option>19:00:00</option>
                <option>20:00:00</option>
                <option>21:00:00</option>
                <option>22:00:00</option>
                <option>23:00:00</option>
              </select>
            </div>
            <div class="form-group col-xs-2"> <button type="submit" class="btn btn-info btn-fill">Get Results</button> </div>
          </form>
        </div>
        <div *ngIf="showProgress3" style="margin-left:40%">
          <circle-progress
            [percent]="95"
            [radius]="50"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="green"
            [innerStrokeColor]="blue"
            [animation]="true"
            [animationDuration]="900"
          ></circle-progress>
        </div>
        <nvd3 [options]="options3" [data]="data3"></nvd3>
      </div>
    </div>
  </div>
</div>
