<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="header">
        <h4 class="title">Data Analysis</h4> <br />
        <p class="category"></p>
      </div>
      <div class="card">
        <div class="col-md-6 well" style="border: 19px solid #e3e3e3;">
          <div class="header">
            <h4 class="title">Travel Time</h4> <br />
            <p class="category">Travel time for different time periods of day.</p>
          </div>
          <nvd3 [options]="options" [data]="data"></nvd3>
        </div>
        <div class="col-md-6 well" style="border: 19px solid #e3e3e3;">
          <div class="header">
            <h4 class="title">Interstate Congestion Rate</h4> <br />
            <p class="category">Congestion Rate for different time periods of day.</p>
          </div>
          <nvd3 [options]="options" [data]="data"></nvd3>
        </div>
      </div>
      <div class="card">
        <div class="col-md-6 well" style="border: 19px solid #e3e3e3;">
          <div class="header">
            <h4 class="title">Congestion Rate</h4> <br />
            <p class="category">Congestion Rate for different time periods of day.</p>
          </div>
          <nvd3 [options]="options" [data]="data"></nvd3>
        </div>
        <div class="col-md-6 well" style="border: 19px solid #e3e3e3;">
          <div class="header">
            <h4 class="title">Travel history</h4> <br />
            <p class="category">Your Travel details</p>
          </div>
          <nvd3 [options]="options" [data]="data"></nvd3>
        </div>
      </div>
    </div>
  </div>
</div>
